@import '../../shared//styles//variables.scss';

.container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.pageButton {
  height: 28px;
  width: 28px;
  font-size: 10px;
  justify-content: center;
  padding: 3px
}

.dots {
  border: solid .5px $gray-30;
  color: $gray-100;
}