@import '../../shared/styles/variables.scss';

.container {
  height: 120px;
  width: 120px;
  border: solid 3px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square,
.square>.photo {
  border-radius: 8px;
}


.round,
.round>.photo {
  border-radius: 50%;
}


.input {
  display: none;
}

.browse,
.remove {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  // border: solid 1px black;
  cursor: pointer;
  padding: 0;
  // margin: 0;
}

.browse {
  top: 15px;
  right: -12px;
}

.remove {
  top: 44px;
  right: -12px;
}



.photo {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  object-fit: cover;
}

.browseIcon,
.removeIcon {
  height: 14px;
  width: 14px;
}

.browse *,
.remove * {
  fill: white;
}

.noImage {
  height: 50%;
  width: 50%;
}