@import '../../../shared/styles/variables.scss';

.container {
  position: relative;
  margin-bottom: 10px;
}

.label {
  color: $black;
  font-size: $fs-3;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 13px;
  padding: 0 5px;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input {
  font-size: $fs-3;
  display: block;
  width: 100%;
  height: $input-height;
  padding: 0 20px;
  background: $white;
  color: $black;
  border: 1px solid;
  border-radius: $input-radius;
  box-sizing: border-box;

  &:focus{
    outline: none;

    ~ .label{
      top:-8px;
      font-size: $fs-2;
    }
  }
}


.input:not(:placeholder-shown) ~ .label {
  top:-8px;
  font-size:13px;
}