{
    "plugins": [
        "unused-imports",
        "prettier"
    ],
    "extends": [
        "react-app",
        "react-app/jest",
        "prettier"
    ],
    "ignorePatterns": [
        "archive",
        "node_modules",
        "build",
        "dist",
        "public"
    ],
    "rules": {
        "react/jsx-no-target-blank": "off",
        // "no-unused-expressions": "off",
        // "no-unused-vars": "off",
        "react/display-name": "off",
        "unused-imports/no-unused-imports": "error",
        "prettier/prettier": "error",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    }
}