{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSameLine": true,
  "semi": true,
  "endOfLine": "auto",
  "trailingComma": "none"
}
