@import '../../shared//styles//variables.scss';

.title {
  color: $title-color;
  font-size: $fs-5;
  margin: 0;
}

.description {
  color: $gray-60;
  font-size: $fs-3;
  margin: 0;
}

.light {
  color: $gray-40;
}

.xs {
  font-size: $fs-2;
}

.sm {
  font-size: $fs-3;
}

.md {
  font-size: $fs-4;
}

.lg {
  font-size: $fs-5;
}

.xl {
  font-size: $fs-6;
}