@import 'src/shared/styles/variables.scss';

.title {
  color: $primary-text-color;
  font-size: $fs-5;
  margin: 0;
}

.description {
  color: $secondary-text-color;
  font-size: $fs-3;
  margin: 0;
}

.light {
  color: $gray-60;
}

.xs {
  font-size: $fs-1;
}

.sm {
  font-size: $fs-3;
}

.md {
  font-size: $fs-4;
}

.lg {
  font-size: $fs-5;
}

.xl {
  font-size: $fs-7;
  line-height: 36px;
}
