@import '~shared/styles/variables.scss';

.row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-10;
  padding: 12px;
  cursor: pointer;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background-color: $gray-10;
  }
}

.details {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}