@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/mixins.scss';

.container {
  padding: 30px;
  width: 100%;
  max-width: 450px;
  margin: 50px auto auto 40px;
}

.title,
.description {
  color: $white;
  opacity: .9;
  margin-bottom: 0;
  font-weight: normal;
}

.title {
  font-size: $fs-9;
}

.description {
  font-size: $fs-5;
}