@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixins.scss';

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.circle {
  position: absolute;
  content: '';
  height: 400px;
  width: 400px;
  border-radius: 50%;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+1,ffffff+49,ffffff+95,ffffff+95&0+10,0.3+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.13) 49%, rgba(255, 255, 255, 0.28) 95%, rgba(255, 255, 255, 0.3) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.13) 49%, rgba(255, 255, 255, 0.28) 95%, rgba(255, 255, 255, 0.3) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.13) 49%, rgba(255, 255, 255, 0.28) 95%, rgba(255, 255, 255, 0.3) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#4dffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  &.shape1 {
    bottom: -100px;
    left: -150px;
  }

  &.shape2 {
    bottom: 150px;
    left: -150px;
    height: 200px;
    width: 200px;
  }

  &.shape3 {
    top: -100px;
    right: -150px;
  }

  &.shape4 {
    top: 190px;
    right: 100px;
    height: 160px;
    width: 160px;
  }

}


.rectangle {
  position: absolute;
  content: '';
  height: 120px;
  width: 1150px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+1,ffffff+50,ffffff+95,ffffff+95&0+10,0.7+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+1,ffffff+49,ffffff+95,ffffff+95&0+10,0.3+100 */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.13) 49%, rgba(255, 255, 255, 0.28) 95%, rgba(255, 255, 255, 0.3) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.13) 49%, rgba(255, 255, 255, 0.28) 95%, rgba(255, 255, 255, 0.3) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.13) 49%, rgba(255, 255, 255, 0.28) 95%, rgba(255, 255, 255, 0.3) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#4dffffff', GradientType=1);
  /* IE6-9 */

  /* IE6-9 */

  /* IE6-9 */

  &.shape1 {
    top: -100px;
    left: 0;
    transform: rotate(-50deg);
  }

  &.shape2 {
    top: 400px;
    right: -500px;
    transform: rotate(39deg);
  }

  &.shape3 {
    top: 550px;
    right: 200px;
    transform: rotate(-26deg);
  }
}




.paneLeft,
.paneRight {
  flex: 1;
  position: relative;
  padding: 30px;
}

.paneRight {
  background-color: $primary;
  overflow: hidden;

  @include for-size(tablet-landscape-down) {
    display: none;
  }
}