@import '~shared/styles/variables.scss';

.container {
  width: 350px;
  border-left: 1px solid $gray-20;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: $white;
  height: 100vh;
}

.header {
  display: flex;
  width: 100%;
  height: 35px;
  padding: 5px 10px;
}

.icon {
  color: $text-color;
  height: 22px;
  width: auto;
}

.close {
  background-color: transparent;
  height: 25px;
  width: 25px;
  border: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  margin-left: auto;

  &:hover {
    background-color: $gray-10;
  }
}