$orange-10: #fff7ed;
$orange-20: #ffeedb;
$orange-30: #ffe6c9;
$orange-40: #ffdeb7;
$orange-50: #ffd5a5;
$orange-60: #ffcd94;
$orange-70: #ffc482;
$orange-80: #ffbc70;
$orange-90: #ffb45e;
$orange-100: #FFA33A;

$gray-10: #f0f0f0;
$gray-20: #e0e0e0;
$gray-30: #d1d1d1;
$gray-40: #c1c1c1;
$gray-50: #b2b2b2;
$gray-60: #a2a2a2;
$gray-70: #939393;
$gray-80: #838383;
$gray-90: #747474;
$gray-100: #646464;

$purple-10: #f3e5fe;
$purple-20: #e8cbfd;
$purple-30: #dcb2fc;
$purple-40: #d098fb;
$purple-50: #c47efa;
$purple-60: #b964f9;
$purple-70: #ad4af8;
$purple-80: #a130f7;
$purple-90: #9517f6;
$purple-100: #8809e9;

$red-10: #fef0f0;
$red-20: #fde0e0;
$red-30: #fcd1d1;
$red-40: #fbc1c1;
$red-50: #fab2b2;
$red-60: #f9a3a3;
$red-70: #f89393;
$red-80: #f78484;
$red-90: #f67474;
$red-100: #F56565;

$green-10: #e7f9eb;
$green-20: #cef3d7;
$green-30: #b6edc2;
$green-40: #9de8ae;
$green-50: #85e29a;
$green-60: #6cdc86;
$green-70: #54d672;
$green-80: #3bd05d;
$green-90: #2ebf4f;
$green-100: #28A745;

$blue-10: #e6f0fd;
$blue-20: #cde1fb;
$blue-30: #b3d1f9;
$blue-40: #9ac2f7;
$blue-50: #81b3f5;
$blue-60: #68a4f3;
$blue-70: #4e95f0;
$blue-80: #3585ee;
$blue-90: #1c76ec;
$blue-100: #1269db;

$white: #ffffff;
$black: #212529;

$cubic: cubic-bezier(.165, .84, .44, 1);

// form elements variables
$form-input-radius: 6px;
$form-input-border-color: $gray-30;

// input variables
$input-height: 44px;

// textarea variables
$textarea-height: 80px;


$fs-1: 12px;
$fs-2: 13px;
$fs-3: 14px;
$fs-4: 16px;
$fs-5: 20px;
$fs-6: 24px;
$fs-7: 30px;

$primary: $purple-90;
$primary-border-color: $purple-100;
$primary-hover-bg-color: $purple-100;
$primary-disabled-bg-color: $purple-10;
$primary-outline-hover-bg-color: $purple-100;

$secondary: $gray-90;
$secondary-border-color: $gray-100;
$secondary-hover-bg-color: $gray-100;
$secondary-disabled-bg-color: $gray-10;
$secondary-outline-hover-bg-color: $gray-100;

$danger: $red-90;
$danger-border-color: $red-100;
$danger-hover-bg-color: $red-100;
$danger-disabled-bg-color: $red-10;
$danger-outline-hover-bg-color: $red-100;

$success: $green-90;
$success-border-color: $green-100;
$success-hover-bg-color: $green-100;
$success-disabled-bg-color: $green-10;
$success-outline-hover-bg-color: $green-100;