
$orange-10: #fff4e6;
$orange-20: #ffeed8;
$orange-80: #ffa33a;

$purple-80: #7908cf;

$light-gray-10: #fbfbfb;
$light-gray-20: #f6f6f6;

$gray-10: #e3e3e3;
$gray-20: #8b8b8b;
$gray-30: #7d7d7d;
$gray-40: #6b6b6b;
$gray-50: #595959;

$red: #f12440;

$green: #08c45f;

$blue: #1269db;

$white: #ffffff;
$black: #212529;


$cubic: cubic-bezier(.165, .84, .44, 1);

$input-radius: 6px;
$input-height: 48px;

$fs-1: 12px;
$fs-2: 13px;
$fs-3: 14px;
$fs-4: 16px;