@import '../../shared/styles/variables.scss';

.container {
  position: relative;
  z-index: 50;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(129, 125, 125, 0.884);
  opacity: 0.3;
}

.panelContainer {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  // min-height: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.small  {
  width: 300px;
  max-width: 300px;
}

.medium {
  width: 500px;
  max-width: 500px;
}

.large {
  width: 800px;
  max-width: 800px;
}

.extraLarge {
  width: 1140px;
  max-width: 1140px;
}

.transitionEnter {
  transition: opacity .3s ease-out;
}

.transitionLeave {
  transition: opacity 0.2s ease-out;
}

.enterFrom {
  opacity: 0;
}

.enterTo {
  opacity: 100;
}

.leaveFrom {
  opacity: 100;
}

.leaveTo {
  opacity: 0;
}