@import '~shared/styles/variables.scss';

.close {
  background-color: transparent;
  height: 25px;
  width: 25px;
  border: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  margin-left: auto;

  &:hover {
    background-color: $gray-10;
  }
}

.icon {
  color: $text-color;
  height: 22px;
  width: auto;
}