@import '~shared/styles/variables.scss';
@import '~shared/styles/mixins.scss';

.container {
  grid-column-start: 2;
  height: $header-height;
  flex: 1;
  border-bottom: 1px solid $gray-20;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}

.btnMenu,
.btnMobile {
  background: none;
  border: 0;
  cursor: pointer;
}

.btnMobile {
  display: none;

  @include for-size(tablet-portrait-down) {
    display: inline-block;
  }
}

.btnMenu {
  @include for-size(tablet-portrait-down) {
    display: none;
  }
}
