@import '~shared/styles/variables.scss';

.container {
  width: 100%;
  height: 100%;
  border: dashed 2px $gray-60;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  border-radius: $form-element-radius;
  padding: 5px;

  &:hover {
    background-color: $gray-10;
  }
}

.description {
  text-align: center;
  width: 100%;
  line-height: 1;
  margin: 0;
}

.icon {
  height: 64px;
  width: 64px;
  display: block;
  margin-bottom: 5px;
  fill: $gray-60;
}