@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/mixins.scss';

.container {
  width: 100%;
  max-width: 490px;
  padding: 20px;
  margin: 0 auto;
}

.icon {
  height: 22px;
  width: auto;
  margin-right: 10px;
}

.actionsContainer {
  margin: 10px auto 30px auto;
}


.signupLink,
.forgotLink {
  text-decoration: none;
  border: 0;
  background: none;
  cursor: pointer;
  color: $primary;

  &:hover {
    color: darken($primary, 12%);
  }
}


.signupLink {
  margin: 0 5px;
}

.row {
  display: flex;
  width: 100%;
}

.forgotLink {
  margin-left: auto;
}