@import '~shared/styles/variables.scss';

.container {
  display: inline-flex;
  margin-left: auto;
  list-style: none;
  padding: 0;
}

.icon {
  height: 20px;
  width: 20px;
  color: $gray-100;

  path {
    color: $gray-70;
  }
}

.item {
  margin: 0 5px;
}

.menuButton {
  border: 0;
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 34px !important;
  width: 34px !important;

  &:hover {
    background-color: $gray-10;
    border-radius: 50%;
  }

  &:focus {
    outline: none;
  }

  &.hasSonar {
    &::after,
    &::before {
      border-radius: 50%;
      content: '';
      position: absolute;
      height: 7px;
      width: 7px;
      background-color: $pink-100;
      top: 0;
      right: 0;
    }

    &::before {
      animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    }
  }
}

@keyframes ping {
  75%,
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
