@import '../../../shared/styles/variables.scss';

.container {
  width: 320px;
}

.header {
  padding: 10px 15px;
  background-color: $gray-10;
}

.tabList {
  padding: 0 15px;
}

.listItemClass {
  font-size: $fs-2  !important;
  color: $title-color  !important;
}

.panels {
  height: 300px;
}