@import '../../../shared/styles/variables.scss';
@import '../shared.module.scss';

.barContainer {
  position: absolute;
  width: calc(100% - 5px);
  bottom: 0;
  left: 2.5px;
  border-radius: $form-input-radius;
}


.strengthBar {
  height: 3px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;

  &.strong {
    background-color: $green-100;
  }

  &.medium {
    background-color: $blue-100;
  }

  &.weak {
    background-color: $red-100;
  }
}