@import '~shared/styles/variables.scss';
@import '../shared.module.scss';

.barContainer {
  position: absolute;
  width: calc(100% - 5px);
  bottom: 0;
  left: 2.5px;
  border-radius: $form-element-radius;
}


.strengthBar {
  height: 3px;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;

  &.strong {
    background-color: $green-80;
  }

  &.medium {
    background-color: $blue-80;
  }

  &.weak {
    background-color: $orange-100;
  }

  &.veryWeak {
    background-color: $red-100;
  }
}


.iconContainer {
  position: absolute;
  height: $form-element-height;
  max-height: $form-element-height;
  width: 24px;
  right: 10px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showHideIcon {
  width: 24px;
  height: 24px;
  fill: gray;
}