@import '../../../shared/styles/variables.scss';
@import '../shared.module.scss';

.input {
  height: $input-height;
}

.strength {
  text-transform: capitalize!important;
  display: inline-block;
  font-size: 12px;
}

.strong {
  color: green;
}

.medium {
  color: blue;
}

.weak {
  color: red;
}
