@import '~shared/styles/variables.scss';
@import '~shared/styles/mixins.scss';

.container {
  display: flex;
  height: 100vh;
  width: auto;
  grid-column-start: 1;
  position: relative;

  @include for-size(phone-only) {
    display: none;
  }
}

.btnMenu {
  position: absolute;
  top: calc((#{$header-height} / 2) - 15px);
  right: -50px;
  background: none;
  border: 0;
}