@import '~shared/styles/variables.scss';
@import '~shared/styles/mixins.scss';

.container {
  display: flex;
  height: 100vh;
  width: auto;
  grid-column-start: 1;
  position: relative;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  z-index: $z-sidebar-container;

  @include for-size(tablet-portrait-down) {
    position: fixed;
    left: -340px;

    &.mobileOpen {
      left: 0;
    }
  }
}

.btnCollapse {
  display: none;
  position: absolute;
  top: 50%;
  right: -17px;
  z-index: $z-main-sidebar;
  cursor: pointer;
  border: 1px solid $gray-20;
  background-color: $white;
  height: 40px;
  width: 18px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 0;
  transform: translateY(-50%);
  padding: 0;

  @include for-size(tablet-portrait-down) {
    display: inline-flex;
    align-items: center;
  }

  &:hover {
    background-color: $gray-10;
  }
}

.icon {
  height: 12px;
  width: auto;
  color: $primary;

  &:hover {
    color: inherit;
  }
}