@import '~shared/styles/variables.scss';
@import '~shared/styles/mixins.scss';

.container {
  border-radius: 6px;
  background-color: $white;
  width: 100%;

  @include box-shadow;
}

.header {
  padding: 25px 20px;
}

.body {
  padding: 20px;
}