@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixins.scss';

.container {
  border-radius: 6px;
  background-color: $white;
  width: 100%;

  @include box-shadow;
}

.header {
  display: flex;
  padding: 25px 20px;
}

.titleContainer {
  flex: 1;
}

.body {
  padding: 20px;
}
