@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/mixins.scss';

.container {
  display: flex;
  color: $white;
}

.logoHeadlines {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

.headline,
.subheadline {
  color: $white;
  margin: 0;
  opacity: .9;
}

.headline {
  line-height: 20px;
  font-weight: 500;
}

.subheadline {
  font-size: $fs-2;
}

.logo {
  height: 36px;
  width: auto;
  opacity: .9;
}