@import '~shared/styles/variables.scss';
@import '../Shared.module.scss';

.container {
  width: $main-nav-panel;
  border-right: 1px solid $gray-20;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: $white;
  z-index: $z-main-sidebar;
}

.logoContainer {
  padding: 5px;
  border-bottom: 1px solid $gray-20;
}

.logo {
  height: 25px;
  width: auto;
  cursor: pointer;
}

.menus {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.menu {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 15px 0;

  &:hover,
  &.active {
    background-color: $gray-10;

    .icon {
      fill: $purple-100;
      color: $purple-100;
    }
  }
}

.icon {
  height: 30px;
  width: auto;
  fill: $gray-50;
  color: $gray-50;
}

.bottom {
  margin-top: auto;
  padding-bottom: 10px;
}