@import '~shared/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 300px;
  background-color: $white;

  &:focus {
    outline: none;
  }
}

.header,
.body {
  display: flex;
}

.header {
  background-color: $gray-10;
  align-items: center;
  padding: 10px;
}

.profile {
  margin-left: 10px;
}

.body {
  flex-direction: column;
  padding: 0;
  flex: 1;
}

.menus {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  padding: 8px 20px;
  border-bottom: 1px solid $gray-10;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;

  &:hover {
    background-color: $gray-10;
  }
}

.footer {
  padding: 10px 10px 0 10px;
}

.icon {
  height: 30px;
  width: auto;
  margin-right: 10px;
  color: $gray-60;
}