@import '~shared/styles/variables.scss';

.container {
  position: relative;
  width: 240px;
  height: 100%;
  border-right: 1px solid $gray-20;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  z-index: $z-sub-sidebar;

  &.collapse {
    width: 0;
    overflow: hidden;
    margin-left: -1px;
  }
}

.logo {
  height: 26px;
  width: auto;
  margin: auto;
}

.logoContainer {
  display: flex;
  width: 100%;
  padding: 20px 10px;
}